<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:contex="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 引入外部的文件， 用于不怎么改动的file， 比如数据库的连接等-->
    <!-- 引入了externalfile.properties -->
    <contex:property-placeholder location="classpath:externalfile.properties"/>
    <bean id="zgy" class="com.zgy.learn.scope2file.Boy">
        <property name="age" value="${age}"/>
        <property name="name" value="${name}"/>
        <property name="address" value="${address}"/>
        <property name="sex" value="${sex}"/>
    </bean>
    <bean id="beijingren1" class="com.zgy.learn.scope2file.Human">
        <property name="name" value="北京人1"/>
        <property name="sex" value="男"/>
        <property name="age" value="29"/>
    </bean>

    <bean id="beijingren2" class="com.zgy.learn.scope2file.Human">
        <property name="name" value="北京人2"/>
        <property name="sex" value="女"/>
        <property name="age" value="33"/>
    </bean>

    <!-- 继承 ，但是也可以设置自己的值 -->
    <bean id="beijingren3" class="com.zgy.learn.scope2file.Human" parent="beijingren2">
        <property name="name" value="北京人3"/>
        <property name="age" value="25"/>
    </bean>
</beans>