<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 一些装配的细节 -->
    <!-- 使用属性注入的时候， 必须要有无参构造器， 或者没有显示的有参构造器-->
    <bean name="fangwenshan" class="com.zgy.learn.injectdetails.Poet">
        <property name="name" value="方文山"/>
        <property name="age" value="48"/>
    </bean>
    <!-- 特殊字符<![CDATA[]]> 处理 -->
    <bean id="xusong" class="com.zgy.learn.injectdetails.Poet">
        <property name="name">
            <value><![CDATA[<许嵩>]]></value>
        </property>
        <property name="age" value="29"/>
    </bean>
    <bean id="lanxiaoxie" class="com.zgy.learn.injectdetails.Poet">
        <constructor-arg value="蓝小邪" type="java.lang.String"/>
        <constructor-arg value="25" type="int"/>
    </bean>

    <!-- 引用其他的bean -->
    <bean id="qinghuaci" class="com.zgy.learn.injectdetails.Song">
        <constructor-arg value="青花瓷" index="0"/>
        <constructor-arg value="3.78" index="1"/>
        <constructor-arg ref="fangwenshan"/>
    </bean>
    <bean id="faruxue" class="com.zgy.learn.injectdetails.Song">
        <constructor-arg value="发如雪" index="0"/>
        <constructor-arg value="4.10" index="1"/>
        <constructor-arg ref="fangwenshan"/>
    </bean>
    <bean id="qingmingyushang" class="com.zgy.learn.injectdetails.Song">
        <!-- 直接放在里面是有问题的 -->
        <!-- <constructor-arg value="<![CDATA[<清明雨上!>]]>"" index="0">-->
        <constructor-arg index="0">
            <value><![CDATA[<清明雨上!>]]>"</value>
        </constructor-arg>
        <constructor-arg value="4.10" index="1"/>
        <constructor-arg ref="xusong"/>
    </bean>
    <!-- 内部bean，使用属性注入的方式是一样的！ -->
    <bean id="juejiang" class="com.zgy.learn.injectdetails.Song">
        <constructor-arg index="0" value="倔强"></constructor-arg>
        <constructor-arg index="1" value="4.50"/>
        <constructor-arg>
            <bean class="com.zgy.learn.injectdetails.Poet">
                <property name="name" value="阿信"/>
                <property name="age" value="32"/>
            </bean>
        </constructor-arg>
    </bean>

    <!-- list -->
    <bean id="jay" class="com.zgy.learn.injectdetails.Singer">
        <property name="name" value="周杰伦"/>
        <property name="age" value="35"/>
        <property name="songs">
            <list>
                <!-- 引用了2个对象， 而非普通的字面值 -->
                <ref bean="qinghuaci"/>
                <ref bean="faruxue"/>
            </list>
        </property>
    </bean>

    <!-- 开始为map准备 -->
    <bean id="gudanmotianlun" class="com.zgy.learn.injectdetails.Song">
        <constructor-arg value="孤单摩天轮" index="0"/>
        <constructor-arg value="4.29" index="1"/>
        <constructor-arg ref="lanxiaoxie" index="2"/>
    </bean>
    <bean id="feilunhai" class="com.zgy.learn.injectdetails.Singer">
        <property name="age" value="29"/>
        <property name="name" value="飞轮海"/>
        <property name="songs">
            <list>
                <bean class="com.zgy.learn.injectdetails.Song">
                    <constructor-arg value="寂寞暴走" index="0"/>
                    <constructor-arg value="3.57" index="1"/>
                    <constructor-arg ref="lanxiaoxie" index="2"/>
                </bean>
                <ref bean="gudanmotianlun"/>
            </list>
        </property>
    </bean>
    <!-- 注入map, 表示的是2000年代的超级巨星们 -->
    <bean id="superSingers2008" class="com.zgy.learn.injectdetails.SuperSingers">
        <property name="time" value="08年代"/>
        <property name="representative">
            <map>
                <entry key-ref="jay" value-ref="faruxue"></entry>
                <entry key-ref="feilunhai" value-ref="gudanmotianlun"/>
            </map>
        </property>
    </bean>

    <!-- 注入map-->
    <bean id="superSingers2010" class="com.zgy.learn.injectdetails.SuperSingers2">
        <constructor-arg value="10年代" index="0"/>
        <constructor-arg index="1">
            <map>
                <entry key="许嵩" value-ref="qingmingyushang"></entry>
                <entry key="五月天" value-ref="juejiang"/>
            </map>
        </constructor-arg>
    </bean>
    <!-- null -->
    <bean id="null4Song" class="com.zgy.learn.injectdetails.Song">
        <constructor-arg value="秦风-岂曰无衣" index="0"/>
        <constructor-arg value="3.52" index="1"/>
        <constructor-arg><null/></constructor-arg>
    </bean>
    <!-- 级联属性, 出问题了啊？！ -->
<!--    <bean id="song4Cascade" class="com.zgy.learn.injectdetails.Song">-->
<!--        <constructor-arg value="蒹葭苍苍" index="0"/>-->
<!--        <constructor-arg value="4.12" index="1"/>-->
<!--        <constructor-arg ref="xusong" index="2"/>-->
<!--        <property name="xusong.age" value="31"> </property>-->
<!--    </bean>-->
</beans>