<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:contex="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 引入外部的文件， 用于不怎么改动的file， 比如数据库的连接等-->
    <!-- 引入了externalfile.properties -->
    <contex:property-placeholder location="classpath:externalfile.properties"/>
    <bean id="zgy" class="com.zgy.learn.scope2file.Boy">
        <property name="age" value="${age}"/>
        <property name="name" value="${name}"/>
        <property name="address" value="${address}"/>
        <property name="sex" value="${sex}"/>
    </bean>
    <bean id="beijingren1" class="com.zgy.learn.scope2file.Human">
        <property name="name" value="北京人1"/>
        <property name="sex" value="男"/>
        <property name="age" value="29"/>
    </bean>

    <bean id="beijingren2" class="com.zgy.learn.scope2file.Human">
        <property name="name" value="北京人2"/>
        <property name="sex" value="女"/>
        <property name="age" value="33"/>
    </bean>

    <!-- 继承 ，但是也可以设置自己的值 -->
    <bean id="beijingren3" class="com.zgy.learn.scope2file.Human" parent="beijingren2">
        <!-- 覆盖parent的属性值，自己去设置 -->
        <property name="name" value="北京人3"/>
        <property name="age" value="25"/>
    </bean>

    <!-- 抽象bean -->
    <!-- 模板bean, 不会去实例化，只是作为模版使用， 开启了abstract=true， 不可实例化 -->
    <bean id="templateBoy" class="com.zgy.learn.scope2file.Boy" abstract="true">
        <property name="age" value="12"/>
        <property name="sex" value="男"/>
        <property name="name" value="张三"/>
        <property name="address" value="北京"/>
    </bean>

    <!-- 使用p空间-->
    <bean id="templateBoy2" class="com.zgy.learn.scope2file.Boy" p:sex="男" p:name="张三" abstract="true"/>

    <bean id="boy2" class="com.zgy.learn.scope2file.Boy" parent="templateBoy">
        <property name="name" value="张小三"/>
        <property name="sex" value="女"/>
    </bean>

    <bean id="boy3" class="com.zgy.learn.scope2file.Boy" parent="templateBoy2">
        <property name="name" value="张小三"/>
        <property name="sex" value="女"/>
    </bean>

    <!-- 依赖， depends-on -->
    <bean id="superCar" class="com.zgy.learn.scope2file.SuperCar">
        <property name="name" value="AUDI"/>
        <property name="price" value="300000"/>
    </bean>
    <!-- 创建superBoy之前，必须创建好superCar，这就是depends-on的含义，林外使用了p空间 继承了bean，boy2的属性 -->
    <bean id="superBoy" class="com.zgy.learn.scope2file.Boy" p:address="南京" parent="boy2" depends-on="superCar">
        <property name="name" value="李二壮"/>
        <property name="car" ref="superCar"/>
    </bean>
</beans>